:global {
  .table_component {
    background: transparent;
    .ant-table {
      background: transparent;
      & .ant-table-container,
      & table {
        border: none !important;
      }
    }
    .ant-table-thead > tr > th {
      background: transparent;
      border-bottom: none;
      font-weight: 900;
      font-size: 14px;
      line-height: 20px;
      color: #231d56;
      text-align: center;
      width: 100% !important;
      &:before {
        content: none !important;
      }
    }
    .ant-table-tbody > tr > td {
      border-bottom: none;
      background: transparent;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 7px 16px;
      color: #231d56;
    }
    .ant-table.ant-table-bordered table > tbody > tr > td,
    .ant-table.ant-table-bordered table > thead > tr > th {
      border-right: none !important;
    }
    .ant-table.ant-table-bordered table > tbody > tr > td:first-child,
    .ant-table.ant-table-bordered table > thead > tr > th:first-child {
      border: none;
    }
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #c6c4d4 !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  .popover_overlay_for_table.ant-popover {
    width: auto !important;
    min-width: 200px;
  }
  ul {
    margin-top: 50px !important;
    .ant-pagination-next[aria-disabled='false'],
    .ant-pagination-prev[aria-disabled='false'] {
      color: #16c37b !important;
      svg {
        color: #16c37b !important;
      }
    }
    .ant-pagination-item {
      border: none;
      & a {
        color: #c6c4d4 !important;
      }
    }
    .ant-pagination-item-active {
      border: 1px solid transparent;
      & a {
        color: #16c37b !important;
        position: relative;
        bottom: 1px;
      }
      &:hover {
        border: none !important;
        bottom: -1px;
      }
    }
  }
  .react-tabs__tab-list {
    border-bottom: 1px solid #c6c4d4;
    font-weight: 700;
    color: #c6c4d4;
    .lighter {
      font-weight: 500;
    }
    .react-tabs__tab {
      border-right: none !important;
      text-align: left !important;
      margin: 6px 0;
      padding: 1px 18px !important;
    }
    .react-tabs__tab:last-child {
      border-right: none !important;
    }
    .react-tabs__tab:first-child {
      padding-left: 0 !important;
    }
    .react-tabs__tab.react-tabs__tab--selected {
      border: none;
      border-radius: none !important;
      border-radius: 0;
      color: #16c37b;
      div {
        border-bottom: 6px #16c37b solid;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        z-index: 1;
      }
    }
  }
  .react-tabs__tab:first-child.react-tabs__tab--selected {
    &::after {
      margin-left: 0 !important;
    }
  }
}
